<!-- <form action="/answer" method="get">
  <input type="text" name="query" placeholder="What do you want?">
  <input type="submit">
</form> -->
<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="Tell me here">
  <input type="submit" value="Go on!">
</form>
